<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Calendar</title>
  </head>
  <body>
    <div class="wrapper">
    
  <main>
    <div class="toolbar">
      <div id="current-month" class="current-month"></div>
        <button class="btn" id="change-to-month">Month</button>
        <button class="btn" id="change-to-week">Week</button>
      <div id="navegation-week" class="navegation__week">
        <a href="#"   id="prev-week" class="round" >&#8249;</a>
        <a href="#"   id="next-week" class="round">&#8250;</a>
      </div>
    </div>
    <div class="calendar" id="calendar">
      <div id="hours-calendar-week"></div>
      <div id="calendar-header" class="calendar__header m-auto">
        <div id="monday">mon</div>
        <div id="tuesday">tue</div>
        <div id="wednesday">wed</div>
        <div id="thursday">thu</div>
        <div id="friday">fri</div>
        <div id="saturday">sat</div>
        <div id="sunday">sun</div>
      </div>
      <div id="calendar__month" class"m-auto">
    </div>
    </div>
    <div id="navegation">
      <div id="selects" class="selects">
        <select id="select-month" name="month" onchange="onChangeMonth()">
        </select>
      </div>
      <div id="selects" class="selects">
        <select id="select-year" name="year"  onchange="onChangeYear()">
        </select>
      </div>
    </div>


  </main>
</div>
    <script type="text/javascript" src="../scripts/renderer.js"></script>
  </body>
</html>


